. site header {
    background-color: steelblue;
    color: wheat;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 840px;
    margin: 0 auto;;
:}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    /*why use rgba instead of hex here? */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

nav {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}